.header_top {
    background-color: #4285F4 !important;
    border:  none !important;
    border-radius:  0px !important;

}
.header_top .collapse .navbar-nav  li a {
    color: #ffff;
    transition : background 1s
}

.header_top .collapse .navbar-nav  li a:hover {
    color: #ffff;
    background: rgb(162, 190, 235) ;
    border-radius: 2px;
    
}

footer {
    background-color: #4285F4;
    height: 50px;
    
    line-height: 50px;
}

/*-----Hien.Dinh-----*/
#content {
    min-height: 250px;
    text-align: center;
}
.myclass-title{
    color: gray;
    margin-bottom: 50px;
}
.container a{
    color: gray !important;
}
.container a:hover{
    text-decoration: none !important;
    color: black !important;
}



.jumbotron{
    background: #4285F4 !important;
    margin-top: 10px;
    margin-bottom: 0px !important;
}